body {
  background-color: #fff;
  font-family: 'Droid Serif', serif;
  color: #6a859c;
  font-size: 16px;
  line-height: 20px;
}


.linkarticle {
  color: #023e8a;
  text-decoration: none;
}
h1 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}

h2 {
  margin-top: 0px;
  margin-bottom: 10px;
  color: #676770;
  font-size: 32px;
  line-height: 36px;
  font-weight: 300;
  text-align: center;
}

h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #676770;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 7px;
  text-transform: uppercase;
}

h4 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

h5 {
  margin-top: 0px;
  margin-bottom: 20px;
  color: #676770;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  letter-spacing: 4px;
  text-transform: uppercase;
}

h6 {
  margin-top: 20px;
  margin-bottom: 0px;
  font-size: 15px;
  line-height: 18px;
  font-weight: 300;
  color: #023e8a;
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 25px;
  font-weight: 300;
  
}





.button {
  display: inline-block;
 
  margin-right: 10px;
  margin-left: 10px;
  padding: 12px 30px;
  border: 3px solid #fff;
  border-radius: 4px;
  background-color: rgba(102, 140, 173, 0);
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 21px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.button:hover {
  border-style: solid;
  border-color: #fff;
  border-radius: 4px;
  background-color: #fff;
  direction: ltr;
  color: #023e8a;
  text-decoration: none;
}




.frase {
  position: relative;
  padding: 20px 10px;
  padding-bottom: 0px;
  background-color: #fff;
  color: #6a859c;
  text-align: center;
}


.w-container .w-row {
  margin-left: -10px;
  margin-right: -10px;
  margin-top: 50px;
}

.button.w--current {
  background-color: #2e80b6;
}

.button.full-width {
  display: block;
  width: 100%;
  margin-right: 0px;
  margin-left: 0px;
}

.button.tab {
  margin-right: 8px;
  margin-left: 8px;
  background-color: #92a0ad;
}

.button.tab:hover {
  background-color: #2e80b6;
}

.button.tab.w--current {
  background-color: #2e80b6;
}

.button.secondary-button {
  width:60%;
  margin-top: 20px;
  border-color: #023e8a;
  border-radius: 5px;
  background-color: rgba(19, 116, 103, 0);
  color: #023e8a;
  font-size: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 3px;
  padding-right: 3px;
}

.button.secondary-button:hover {
  border-color: #023e8a;
  background-color: #023e8a;
  color: #fff;
}

.button.secondary-button.contacts {
  display: block;
  max-width: 68%;
  margin-top: 0px;
  margin-bottom: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  border-color: #023e8a;
  background-color: rgba(19, 116, 103, 0);
  color: #023e8a;
  text-align: center;
  font-size: 14px;
}

#Chi-sono {
  margin-top: 140px;
}

.button.secondary-button.contacts:hover {
  background-color: #023e8a;
  color: #fff;
}

.button.secondary-button.contacts.whatsapp {
  border-color: #25d366;
  color: #25d366;
}

.button.secondary-button.contacts.whatsapp:hover {
  background-color: #25d366;
  color: #fff;
}

.read-link {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  font-family: 'Poppins', sans-serif;
  color: #023e8a;
  font-weight: 700;
  text-decoration: none;
  margin-top: 10px;
  font-size: 12px;
}


.navigation-link {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  font-family: 'Poppins', sans-serif;
  color: #676770;
  font-weight: 500;
}

.navigation-link:hover {
  color: #023e8a;
  font-weight: 500;
  text-decoration: none;
}

.navigation-link:active {
  background-color: #fff;
  color: #676770;
  text-decoration: none;
}

.navigation-link.w--current {
  color: #023e8a;
}

.navigation-bar {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  margin-bottom: 0px;
  background-color: #fff;
  box-shadow: 1px 0 5px 0 #000;
}

.brand-text {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Open Sans', sans-serif;
  color: #023e8a;
  font-size: 25px;
  line-height: 25px;
  font-weight: 300;
  letter-spacing: 4px;
  text-transform: none;
}

.brand-link {
  padding-top: 16px;
  padding-bottom: 16px;
}

.section {
  position: relative;
  padding: 50px 10px;
  background-color: #fff;
  color: #6a859c;
  text-align: center;
}

.section.accent {
  margin-top: 40px;
  background-color: #fff;
}

.section.gray {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f2f2f2;
}

.section.bluesection {
  background-color: #023e8a;
  background-clip: border-box;
}

.section.faded {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#023e8a), to(#25ccbf));
  background-image: linear-gradient(180deg, #023e8a, #25ccbf);
  text-decoration: none;
}

.section.services {
  padding-top: 0px;
  padding-bottom: 170px;
}

.white-box {
  padding: 15px;
  border: 2px solid #bec3c7;
  border-radius: 5px;
  background-color: #fff;
  text-align: center;
}

.white-box.transparent {
  border-style: none;
  background-color: transparent;
}

.white-box.articlebox {
  text-align: left;
}

.hero-section {
  padding-top: 242px;
  padding-bottom: 242px;
  background-image: url('../images/bEtrJY1dRKG9jrOPiImg_over-ganges.jpg');
  background-position: 0px 0px;
  background-size: cover;
}

.hero-section.centered {
  min-height: 100vh;
  margin-top: 40px;
  padding-top: 195px;
  padding-bottom: 195px;
  border-bottom: 4px solid #69b9ff;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(25%, transparent), to(#198a7b)), url('../images/viiiiiiiiii.jpg');
  background-image: linear-gradient(180deg, transparent 25%, #198a7b), url('../images/viiiiiiiiii.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, contain;
  text-align: center;
  background-clip: border-box;
}

.hero-section.centered.nooverlay {
  min-height: 100vh;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-image: url('../images/dali.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: repeat;
}

.hero-heading {
  display: block;
  margin-top: 0px;
  margin-bottom: 10px;
  padding-top: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  font-family: 'Droid Serif', sans-serif;
  color: #fff;
  font-size: 70px;
  line-height: 60px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.hero-subheading {
  margin-bottom: 40px;
  color: #fff;
  font-size: 25px;
  line-height: 25px;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: none;
}

.hollow-button {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  padding: 10px 30px;
  border: 1px solid #fff;
  border-radius: 4px;
  -webkit-transition: background-color 300ms ease, border 300ms ease, color 300ms ease;
  transition: background-color 300ms ease, border 300ms ease, color 300ms ease;
  color: #fff;
  line-height: 21px;
  font-weight: 300;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.hollow-button:hover {
  border-color: #2e9dff;
  color: #2e9dff;
}

.hollow-button.all-caps {
  text-transform: uppercase;
}

.section-heading {
  margin-top: 0px;
  margin-bottom: 16px;
}

.section-heading.centered {
  margin-bottom: 20px;
  margin-top: 60px;
  font-family: 'Droid Serif', sans-serif;
  color: #023e8a;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.section-heading.centered.white {
  color: #fff;
}

.section-heading.centered.white.caption {
  color: #adadad;
  font-style: italic;
  text-transform: none;
}

.section-heading.centered.white.caption.frase {
  font-family: 'Droid Serif', serif;
  color: #858585;
}

.section-heading.centered.whitetitle {
  color: #fff;
}

.section-subheading.center {
  margin-bottom: 40px;
  color: #8e8e9c;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 3px;
  text-transform: none;
}

.section-subheading.center.off-white {
  padding-bottom: 0px;
  color: #aeaeae;
}

.section-title-group {
  margin-bottom: 20px;
}

.form-field {
  height: 45px;
  margin-bottom: 17px;
  border: 0px solid #000;
  border-radius: 3px;
  box-shadow: 0 0 0 1px rgba(64, 64, 71, 0.3);
}

.form-field.text-area {
  height: 110px;
}

#Laboratori {
  margin-top: 60px;
  padding-bottom: 80px;
}

.footer {
  margin-top: 80px;
  padding-top: 35px;
  padding-bottom: 35px;
}

.footer.center {
  border-top: 1px solid #dbdbdb;
  background-color: #023e8a;
  text-align: center;
}

.footer.invisible {
  display: none;
}

.footer-text {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #fff;
  font-size: 16px;
  text-align: left;
}

.footer-text.firma {
  margin-top: 20px;
}

.footer-text.credits {
  font-size: 16px;
}

.grid-image {
  display: block;
  width: 50%;
  margin: 20px auto;
  padding: 0px;
  border-style: none;
  border-width: 9px;
  border-color: #fff;
  border-radius: 50%;
  opacity: 1;
}

.grid-image.bigger {
  width: 50%;
}

.grid-image.smaller {
  width: 43%;
  margin-bottom: 10px;
}

.info-icon {
  float: left;
}

.footer-link {
  display: block;
  margin-bottom: 6px;
  padding-bottom: 10px;
  border-bottom: 1px solid #d5d5e0;
  color: #668cad;
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
}

.footer-link:hover {
  color: rgba(0, 140, 255, 0.84);
}

.footer-link.with-icon {
  margin-left: 30px;
}

.tab-menu {
  margin-bottom: 40px;
  text-align: center;
}

.tabs-wrapper {
  text-align: center;
}

.fullwidth-image {
  width: 100%;
  margin-bottom: 20px;
}

.white-text {
  margin-bottom: 20px;
  color: #fff;
}

.form {
  margin-top: 40px;
}

.subtitle {
  margin-top: 20px;
  color: #fff;
  font-weight: 700;
}

.container {
  padding-bottom: 0px;
}

.container.margintop {
  margin-top: 40px;
}

.footerlink {
  font-family: 'Droid Serif', sans-serif;
  color: #edeff2;
  font-size: 12px;
  text-decoration: none;
}

.footerlink.credits {
  font-size: 8px;
}

.heading {
  font-family: 'Droid Serif', sans-serif;
  letter-spacing: 3px;
  text-transform: none;
}

.heading-2 {
  display: inline-block;
  margin-top: 20px;
  float: left;
  font-family: 'Droid Serif', sans-serif;
  color: #023e8a;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  text-align: left;
  letter-spacing: 3px;
  text-transform: none;
}

.articlestitle {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 10px;
  float: left;
  font-family: 'Droid Serif', sans-serif;
  color: #023e8a;
  font-size: 23px;
  line-height: 26px;
  font-weight: 700;
  text-align: left !important;
  letter-spacing: 3px;
  text-transform: none;
}

.heading-2.cardsheading {
  float: none;
  font-weight: 500;
  text-align: center;
}

.heading-2.cardsheading.articletext {
  clear: none;
  text-align: justify;
}

.heading-3 {
  text-transform: none;
}

.heading-4 {
  text-transform: none;
}

.paragraph {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #023e8a;
  text-align: left;
}

.text-span {
  font-size: 16px;
}

._2col {
  display: block;
  color: #023e8a;
  text-align: left;
  -webkit-column-count: 2;
  column-count: 2;
  white-space: normal;
  -o-object-fit: fill;
  object-fit: fill;
}

.text-span-2 {
  font-size: 20px;
  font-weight: 900;
}

.link {
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
}

.text-block {
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 30px;
}

.form-block {
  margin-top: 20px;
  margin-bottom: 40px;
}

.paragraph-2 {
  margin-bottom: 40px;
  color: #023e8a;
  text-align: center;
}

.paragraph-2.whitetext {
  color: #fff;
}

.paragraph-2.whitetext._2col {
  text-align: left;
}

.paragraph-2.whitetext.pseudolista {
  color: #023e8a;
  text-align: left;
}

.slide {
  background-image: url('../images/autobiografia_Moment.jpg');
  background-position: 0px 0px;
  background-size: cover;
}

.accordionitemcontent {
  overflow: hidden;
}

.div-block {
  cursor: pointer;
}

.div-block.divvv {
  margin-top: 40px;
  border-style: solid;
  border-width: 0px 0px 1px;
  border-color: #000;
}

.image {
  max-width: 100%;
}

.image.buttonimg {
  display: block;
  margin-top: 10px;
  color: #20ac99;
}

.image-2 {
  height: auto;
  max-height: 0%;
  max-width: 80%;
}

.paragraph-3 {
  color: #023e8a;
  text-align: left;
}

.text-span-3 {
  font-size: 14px;
}

.container-2 {
  margin-top: 60px;
}

.container-2.hide {
  display: none;
}

.text-block-2 {
  margin-top: 20px;
  font-family: 'Droid Serif', sans-serif;
  color: #fff;
  font-size: 13px;
  letter-spacing: 3px;
}

.image-3 {
  margin-bottom: 0px;
}

.dropdown-link {
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  color: #676770;
}

.dropdown-link:hover {
  color: #023e8a;
}

.dropdown-link.w--current {
  color: #023e8a;
}

.dropdown-list {
  box-shadow: 1px 1px 3px 0 #000;
}

.dropdown-list.w--open {
  box-shadow: 2px 2px 5px -2px #000;
}

.italic-text {
  font-family: 'Droid Serif', serif;
}

.div-block-2 {
  height: 1px;
  background-color: #fff;
}

.image-4 {
  display: inline-block;
  width: 20px;
  max-width: 20%;
  margin-top: 25px;
  padding-top: 0px;
  float: right;
}

.hide {
  display: none;
}

.heading-5 {
  margin-bottom: 60px;
  font-family: 'Droid Serif', sans-serif;
  color: #fff;
  font-size: 25px;
  line-height: 28px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

.container-5 {
  display: block;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.image-5 {
  display: block;
  margin-bottom: 0px;
  text-align: left;
}

.image-6 {
  width: 100%;
  max-width: 100vw;
}

.container-6 {
  display: block;
  min-height: 100vh;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.herosectionnotmobile {
  min-height: 80vh;
  max-height: 80vh;
  padding-top: 40vh;
 

  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

.isola {
  background-image: url('../images/l\'isolasenzaspine.png');
  background-size: auto cover;
  background-position: 0px 0px;
  background-repeat:  no-repeat;
 

}

.herosectionnotmobile.home {
  background-image: radial-gradient(circle farthest-corner at 50% 50%, rgba(37, 204, 191, 0.7), hsla(0, 0%, 100%, 0) 67%), url('../images/viiiiiiiiii.jpg');
  background-position: 0px 0px, 50% 0%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

.herosectionnotmobile.counseling {
  min-height: 80vh;
  max-height: 80vh;
  background-image: radial-gradient(circle farthest-corner at 50% 50%, rgba(30, 34, 103, 0.7), hsla(0, 0%, 100%, 0) 67%), url('../images/Christian-Schloe-donna-con-nuvole.jpg');
 /* background-image:  url('../images/Christian-Schloe-donna-con-nuvole.jpg');*/
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

.articles {
  
  min-height: 80vh;
  max-height: 80vh;
  background-image: radial-gradient(circle farthest-corner at 50% 50%, rgba(30, 34, 103, 0.7), hsla(0, 0%, 100%, 0) 67%), url('../images/coverarticoli.jpg');
 /* background-image:  url('../images/Christian-Schloe-donna-con-nuvole.jpg');*/
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}





.image-7 {
  display: block;
  max-width: 5%;
  margin-top: 60px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 140px;
}

.sticky-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
  padding: 20px;
  background-color: #f4f4f4;
}

.nav-grid {
  display: -ms-grid;
  display: grid;
  width: 100%;
  margin: 0px;
  padding: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -ms-grid-columns: 1fr -webkit-max-content -webkit-max-content -webkit-max-content;
  -ms-grid-columns: 1fr max-content max-content max-content;
  grid-template-columns: 1fr -webkit-max-content -webkit-max-content -webkit-max-content;
  grid-template-columns: 1fr max-content max-content max-content;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.nav-logo-link {
  display: block;
  height: 60px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0px;
}

.nav-logo {
  width: auto;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 0% 50%;
  object-position: 0% 50%;
}

.nav-link {
  display: block;
  margin-right: 0px;
  margin-left: 0px;
  padding: 10px 0px;
  color: #444;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}

.map {
  display: none;
}

.heading-6 {
  margin-bottom: 40px;
  font-family: 'Droid Serif', sans-serif;
  color: #02408e;
  letter-spacing: 1px;
}

.blue {
  margin-top: 60px;
  color: #02408e;

}

.subblue {
  
  color: #02408e;

}

.articleheading {
  padding-bottom: 0px;
}

.heading-6.lessmarginbottom {
  margin-bottom: 10px;
}

@media screen and (max-width: 991px) {
  .button.secondary-button.contacts {
    max-width: 100%;
    letter-spacing: 1px;
    margin-left: auto;
    margin-right: auto;
 
  }

  .button.secondary-button.contacts.whatsapp {
    background-color: #25d366;
    color: #fff;
  }

  .navigation-link {
    color: #676770;
  }

  .navigation-link.w--current {
    color: #023e8a;
  }

  .hamburger-button {
    color: #124185;
  }

  .hamburger-button:focus {
    color: #124185;
  }

  .hamburger-button.w--open {
    background-color: #fff;
    color: #023e8a;
    line-height: 20px;
  }

  .navigation-menu {
    background-color: #fff;
  }

  .white-box {
    margin-bottom: 40px;
  }

  .hero-section.centered {
    padding-top: 144px;
    padding-bottom: 144px;
  }

  .grid-image {
    width: 50%;
    padding: 15px;
  }

  .heading-2.cardsheading {
    display: block;
  }

  .dropdown-list.w--open {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-shadow: none;
  }

  .herosectionnotmobile.home {
    background-image: radial-gradient(circle farthest-corner at 50% 50%, rgba(37, 204, 191, 0.7), hsla(0, 0%, 100%, 0) 67%), url('../images/viiiiiiiiii.jpg');
    background-position: 0px 0px, 50% 0%;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
  }

  .columns {
    margin-right: auto;
    margin-left: auto;
    padding-right: 100px;
    padding-left: 100px;
  }

  .menu-button {
    color: #023e8a;
  }

  .menu-button.w--open {
    background-color: #fff;
  }

  .menu-button.w--open:active {
    background-color: #fff;
  }
}

@media screen and (max-width: 767px) {
  .button.full-width {
    margin-right: auto;
    margin-left: auto;
  }

  .button.tab {
    font-size: 12px;
  }

  .button.secondary-button.contacts {
    margin-top: 40px;
  }

  .hamburger-button {
    color: #fff;
  }

  .hamburger-button.w--open {
    background-color: #011f45;
  }

  .section {
    padding-right: 20px;
    padding-left: 20px;
  }

  .white-box {
    margin-bottom: 30px;
  }

  .hero-section.centered {
    padding-top: 119px;
    padding-bottom: 119px;
  }

  .hero-heading {
    margin-top: 100px;
    margin-bottom: 15px;
    font-size: 50px;
  }

  .hero-subheading {
    font-size: 18px;
  }

  .section-heading.centered {
    -webkit-transform: translate3d(0px, 0px, 9999px);
    transform: translate3d(0px, 0px, 9999px);
  }

  .form-field.text-area {
    display: block;
  }

  .grid-image {
    width: 20%;
    padding: 20px;
  }

  .spc {
    margin-bottom: 30px;
  }

  .heading-2 {
    font-size: 14px;
  }

  ._2col {
    margin-right: 20px;
    margin-left: 20px;
    -webkit-column-count: 1;
    column-count: 1;
  }

  .paragraph-2.whitetext._2col {
    -webkit-column-count: 1;
    column-count: 1;
  }

  .image-2 {
    max-width: 90%;
    margin-bottom: 40px;
  }

  .image-3 {
    display: block;
  }

  .container-3 {
    padding-right: 40px;
    padding-left: 40px;
  }

  .heading-5 {
    font-size: 20px;
  }

  .icon {
    color: #192024;
  }

  .sticky-nav {
    position: relative;
  }

  .nav-grid {
    text-align: center;
  }

  .icon-2 {
    color: #023e8a;
  }
}

@media screen and (max-width: 479px) {
  .button {
    margin-bottom: 25px;
  }

  .button.secondary-button {
    font-size: 14px;
  }

  .button.secondary-button.contacts {
    max-width: 100%;
    font-size: 13px;
    letter-spacing: 0px;
  }

  .button.secondary-button.contacts.whatsapp {
    margin-top: 0px;
    font-size: 13px;
    letter-spacing: 0px;
  }

  .navigation-link {
    color: #676770;
  }

  .hamburger-button.w--open:focus {
    background-color: #fff;
  }

  .navigation-menu {
    background-color: #fff;
  }

  .brand-link {
    padding-left: 20px;
  }

  .section {
    padding-bottom: 100px;
  }

  

  .section.final {
    padding-bottom: 60px;
  }

  .hero-section.centered {
    margin-top: 40px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(3%, transparent), color-stop(70%, rgba(37, 204, 191, 0.98))), url('../images/viiiiiiiiii.jpg');
    background-image: linear-gradient(180deg, transparent 3%, rgba(37, 204, 191, 0.98) 70%), url('../images/viiiiiiiiii.jpg');
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
  }

  .hero-heading {
    margin-top: 0px;
    font-size: 32px;
    line-height: 33px;
    letter-spacing: 0px;
  }

  .section-heading.centered {
    font-size: 23px;
  }

  .section-heading.centered.white.caption.frase {
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 27px;
  }

  .section-subheading.center {
    line-height: 30px;
  }

  .section-subheading.center.off-white {
    font-size: 12px;
  }

  .footer-text.firma {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .footer-text.credits {
    margin-top: 5px;
    font-size: 10px;
  }

  .grid-image {
    width: 35%;
    padding: 0px;
  }

  .grid-image.bigger {
    padding: 0px;
  }

  .grid-image.smaller {
    padding: 0px;
  }

  .footerlink {
    font-size: 12px;
  }

  .footerlink.firma {
    font-size: 8px;
  }

  .footerlink.credits {
    font-size: 6px;
  }

  .heading-2 {
    display: block;
    font-size: 15px;
    line-height: 22px;
  }

  .paragraph {
    color: #023e8a;
  }

  ._2col {
    margin-right: 0px;
    margin-bottom: 40px;
    margin-left: 0px;
    color: #023e8a;
  }

  .paragraph-2 {
    margin-right: 0px;
    margin-left: 0px;
    text-align: left;
  }

  .paragraph-2.whitetext.pseudolista {
    margin-right: 0px;
    margin-left: 0px;
  }

  .paragraph-2.cit {
    text-align: left;
  }

  .accordionwrapper.marginbottom {
    margin-bottom: 40px;
  }

  .image-2 {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .text-block-2 {
    font-size: 11px;
  }

  .div-block-2 {
    font-size: 1px;
  }

  .container-3 {
    padding-right: 30px;
    padding-left: 30px;
  }

  .container-4 {
    padding-bottom: 60px;
  }

  .image-4 {
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-top: 0px;
    float: left;
    clear: left;
  }

  .heading-5 {
    font-size: 16px;
    line-height: 21px;
    text-align: center;
  }

  .container-5 {
    padding-top: 100px;
  }

  .container-6 {
    padding-top: 100px;
  }

  .herosectionnotmobile {
    padding-top: 220px;
  }

  .image-7 {
    max-width: 10%;
  }

  .sticky-nav {
    padding: 0px;
  }

  .nav-grid {
    grid-auto-flow: row;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 100px;
    grid-template-rows: 100px;
  }

  .nav-logo-link {
    border-top: 1px solid #c4c4c4;
  }

  .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #c4c4c4;
  }

  .column {
    padding-right: 0px;
    padding-left: 0px;
  }

  .text-span-4 {
    text-align: left;
  }

  .paragraph-4 {
    color: #023e8a;
  }

  .paragraph-5 {
    color: #023e8a;
  }

  .columns {
    padding-right: 0px;
    padding-left: 0px;
  }
}

